body {
  background: #f8f8f8;
  color: #222;
  font-family: 'Questrial', sans-serif;
}

p {
  line-height: 1.4em;
}

.site-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5.71em 2em 0;
  max-width: 1440px;
  padding: 1.5em 0 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-enter {
  opacity: 0;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.page-exit {
  display: none;
  opacity: 0;
}

@media (max-width: 663px) {
  .site-container {
    margin-left: 0;
    margin-right: 0;
  }
}
